//
   Created by Islam on 01.05.2019.

+b.footer
    +e.container
        +e.left-side Аэроэкспресс 1998-2013
        +e.right-side
            +e.service
                +e.service-text Телефон справочной службы:
                +e.service-number (3022) 45-05-05
            +e.links
                a(href='#').link Адреса точек продаж
                +e.separator |
                a(href='#').link Написать нам