//
   Created by Islam on 15.04.2019.

+b.header
    +e.container
        a(href='#')
            img(src='../../assets/images/logo.png').logo
        +e.description Авиаэкспресс - крупнейшая в Забайкалье сеть универсальных касс по продаже авиационных, железнодорожных биллетов и туристических услуг.
        +e.contact
            +e.contact-text Телефон справочной службы
            +e.contact-number +7 (3022) 45-05-05
