include ../template/bem.pug
include ../template/link.pug

doctype html
html
    head
        meta(charset="utf-8")
        +style()
        +script()
    body
        include ../template/menu-group
        include ../template/header
        include ../template/content
        include ../template/footer